<article>
<ul>
  <div class="">
    <div class="col-sm-6">
      <li>
        Автор: {{ card.author }}
      </li>
      <li>
        Дата создания: {{ card.pub_date|date:"d E Y" }}
      </li>
      <li>
        Номер дела: {{ card.original_name}}
      </li>
      <div class="card">
        <div class="card-header">
          {% if card.title == Уголовное %}
            <div class="card-header bg-primary text-white">
              {{ card.case_category}}
            </div>
            {% endif %}
        </div>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#general_information_{{ card.id }}">Общая информация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sides_case_{{ card.id }}">Стороны по делу</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#business_movement_{{ card.id }}">Движение</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#business_petition_{{ card.id }}">Ходатайства</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body tab-content">
          <ul class="tab-pane fade" id="general_information_{{ card.id }}">
            <p>
            Номер дела: {{ card.original_name }}
            </p>
            <p>
            статья: {{ card.article }}
            </p>
          </ul>
          <ul class="tab-pane fade" id="sides_case_{{ card.id }}">
            <div class="card-body">
              <a href="{% url 'business_card:add_side' card.pk %}" class="btn btn-outline-primary">Добавить стороны</a>
            </div>
            {% for side_case in sides_case_in_case_data %}
            {% if side_case.business_card.id == card.id %}
            <div class="card" style="width: 46rem;">
              <ul class="list-group list-group-flush">
                <div class="card-header text-center">
                  {% for side in side_case.sides_case.all %}
                    {{ side.sides_case }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
          <p>
            ФИО: {{ side_case.name }}
          </p>
          <p>
            Дата направления повестки: {{ side_case.date_sending_agenda }}
          </p>
          <p>
            Ознакомление с делом: {{ side_case.familiarization_case }}
          </p>
          <div class="card" style="width: 15rem;">
          <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_side' side_case.pk %}">
            редактировать сторону</a>
            <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_side' side_case.pk %}">
              удалить сторону</a>
            </div>
        </ul>
      </div>
      <p></p>
          {% endif %}
          {% endfor %}
        </ul>

        <ul class="tab-pane fade" id="business_movement_{{ card.id }}">
            <div class="card-body">
              <a href="{% url 'business_card:add_movement' card.pk %}" class="btn btn-outline-primary">Добавить движение</a>
            </div>
            {% for decision in decision_case_data %}
            {% if decision.business_card.id == card.id %}
            <div class="card" style="width: 46rem;">
              <ul class="list-group list-group-flush">
                <div class="card-header text-center">
                Дата заседания: {{ decision.date_meeting }}
              </div>
            <p>
              Время заседания: {{ decision.meeting_time }}
            </p>
            <p>
              Решение по поступившему делу: {{ decision.decision_case }}
            </p>
            <p>
              Состав коллегии: {{ decision.composition_colleges }}
            </p>
            <p>
              Результат судебного заседания: {{ decision.result_court_session }}
            </p>
            <div class="card" style="width: 15rem;">
              <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_movement' card.pk %}">
              редактировать движение</a>
              <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_movement' card.pk %}">
              удалить движение</a>
            </div>
          </ul>
            </div>
            <p></p>
            {% endif %}
            {% endfor %}
        </ul>

        <ul class="tab-pane fade" id="business_petition_{{ card.id }}">
          <div class="card-body">
            <a href="{% url 'business_card:add_petition' card.pk %}" class="btn btn-outline-primary">Добавить ходатайство</a>
          </div>
          {% for petition in petition_case_data %}
          {% if petition.business_card.id == card.id %}
          <div class="card" style="width: 46rem;">
            <ul class="list-group list-group-flush">
              <div class="card-header text-center">
                Ходатайство: {{ petition_case.petitions }}
            </div>
            <p>Заявитель: {{ petition_case.sides_case }}</p>
            <p>Дата ходатайства: {{ petition_case.date_application }}</p>
          <div class="card" style="width: 15rem;">
            <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_petition' card.pk %}">
            редактировать ходатайство</a>
            <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_petition' card.pk %}">
            удалить ходатайство</a>
          </div>
        </ul>
          </div>
          <p></p>
          {% endif %}
          {% endfor %}
      </ul>

          <div class="card-footer bg-transparent border-success">
            <a href="{% url 'business_card:business_card_detail' card.pk %}" class="btn btn-primary">Подробнее</a>
            <p></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Расчет рассмотрения дела</div>
            </div>
          </div>
      </div>
  </div>
</ul>
</article>
