{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block Title %}    
    Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
      <div class="col-3">
        <aside class="col-1 col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Автор: {{ author }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего дел в производстве: {{ author_card }}
            </li>
            <li class="list-group-item">
            </li>
          </li> 
          </ul>
        </aside>
      </div>
      
      <div class="col-9">
        <li class="list-group-item">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          Номер дела: {{ card.original_name }}
        </p>
        <p>
          Категория дела: {{ card.case_category }}
        </p>
        <p>
          Дата с/з: {{ card.preliminary_hearing }}
        </p>

        <h4 class="card-title text-center">Стороны по делу</h4>
        {% for side_case in sides_case_in_case_data.all %}
        <div class="card" style="width: 46rem;">
          <ul class="list-group list-group-flush">
            <div class="card-header text-center">
                {% for side in side_case.sides_case.all %}
                  {{ side.sides_case }}
                  {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        <p>
          ФИО: {{ side_case.name }}
        </p>
        <p>
          Статья: {{ side_case.article }}
        </p>
        <p>
          Дата направления повестки: {{ side_case.date_sending_agenda }}
        </p>
        <p>
          Ознакомление с делом: {{ side_case.familiarization_case }}
        </p>
        <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_side' side_case.pk   %}">
          редактировать сторону</a>
          <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_side' side_case.pk   %}">
            удалить сторону</a>
          </ul>
            </div>
        {% endfor %}

        <h4 class="card-title text-center">Движение дела</h4>
        {% for decision in decision_case_data.all %}
        <div class="card" style="width: 46rem;">
          <ul class="list-group list-group-flush">
            <div class="card-header text-center">
            Дата заседания: {{ decision.date_meeting }}
            </div>
        <p>
          Время заседания: {{ decision.meeting_time }}
        </p>
        <p>
          Решение по поступившему делу: {{ decision.decision_case }}
        </p>
        <p>
          Состав коллегии: {{ decision.composition_colleges }}
        </p>
        <p>
          Результат судебного заседания: {{ decision.result_court_session }}
        </p>
          <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_movement' card.pk %}">
          редактировать движение</a>
          <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_movement' card.pk %}">
          удалить движение</a>
          </ul>
            </div>
        {% endfor %}

        <h4 class="card-title text-center">Заявленные ходатайства</h4>
        {% for petition in petition_case_data.all %}
        <div class="card" style="width: 46rem;">
          <ul class="list-group list-group-flush">
            <p>Ходатайство: {{ petition.petitions }}</p>
            <p>Заявитель: {{ petition.sides_case }}</p>
            <p>Дата ходатайства: {{ petition.date_application }}</p>
          <a class="btn btn-default btn-sm" href="{% url 'business_card:edit_petition' card.pk %}">
          редактировать ходатайство</a>
          <a class="btn btn-danger btn-sm" href="{% url 'business_card:delete_petition' card.pk %}">
          удалить ходатайство</a>
          </ul>
            </div>
        {% endfor %}

        <li class="list-group-item">
          <article class="col-9 col-md-6 col-xl-3">
          </article>
          <article class="col-8 col-md-6 col-xl-3">          
              <p>Дата создания карточки: {{ card.pub_date|date:"d E Y" }}</p>
              <p>Дата редактирования карточки: {{ card.date|date:"d E Y" }}</p>
          </article>
          <a class="btn btn-outline-primary" href="{% url 'business_card:card_edit' card.id   %}">
            редактировать карточку</a>
          <a class="btn btn-outline-success" href="">
            Отправить в архив
          </a>
        </li>
      </div>
    </div>
</div>
{% endblock %}