{% extends 'base.html' %}
{% block Title %}<title>{% if is_edit %} Редактировать карточку {% else%} Новая карточка {% endif %}</title>{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %} Редактировать карточку {% else %} Новая карточка {% endif %}
          </div>
          <div class="card-body">
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
          {% endif %}
          <form method="post"
            {% if card %}
              "{% url 'business_card:card_edit' card.pk %}"
            {% else %}
              "{% url 'business_card:card_create' %}"
            {% endif %}>
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row my-3 p-3 textarea">
                <label for="{{field.id_for_label}}">
                  {{ field.label }}
                  {% if field.label.required %}
                    <span class="required text-danger" >*</span>
                  {% endif %}
                </label>
                  {{ field }}
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
              </div>
            {% endfor %}
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}