{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h2>Вы действительно хотите удалить эту сторону?</h2>
    <p>
        Стороны по делу:
        {% for side in side_case.sides_case.all %}
          {{ side.sides_case }}
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>ФИО: {{ side_case.name }}</p>
    <p>Статья: {{ side_case.article }}</p>
    <p>Дата направления повестки: {{ side_case.date_sending_agenda }}</p>
    <p>Ознакомление с делом: {{ side_case.familiarization_case }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
{% endblock %}
