{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h2>Вы действительно хотите удалить запись?</h2>
        <p>Дата заседания: {{ decision_case.date_meeting }}</p>
        <p>Время заседания: {{ decision_case.meeting_time }}</p>
        <p>Решение по поступившему делу: {{ decision_case.decision_case }}</p>
        <p>Состав коллегии: {{ decision_case.composition_colleges }}</p>
        <p>Результат судебного заседания: {{ decision_case.result_court_session }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
{% endblock %}
