{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h2>Вы действительно хотите удалить это ходатайство?</h2>
    <p>
        Ходатайство:
        {% for petition in petition_case.petitions_case.all %}
          {{ petition.petitions_case }}
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Заявитель: {{ petition_case.sides_case }}</p>
    <p>Дата ходатайства: {{ petition_case.date_application }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
{% endblock %}
