{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block Title %}    
    Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
      <div class="col-3">
        <aside class="col-1 col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Автор: {{ author }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего дел в производстве: {{ author.cards.count }}
            </li>
            <li class="list-group-item">
            </li>
          </li> 
          </ul>
        </aside>
      </div>
      
      <div class="col-9">
        <li class="list-group-item">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>          
          Номер дела: {{ card.original_name }}
        </p>
        <p>
          Стороны по делу: {{ side.sides_case }}
        </p>
        <p>
          ФИО: {{ card}}
        </p>
        <p>
          Ходатайства: {{ card.petitions }}
        </p>
        <li class="list-group-item">
          <article class="col-9 col-md-6 col-xl-3">
          </article>
          <a class="btn btn-outline-primary" href="{% url 'business_card:edit_movement' card.id   %}">
            редактировать движение</a>
        </li>
      </div>
    </div>
</div>
{% endblock %}